@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes arrowLeft {
	0% {
		transform: translateX(0px);
	}
	70% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0px);
	}
}

@layer components {
	h1 {
		@apply text-center font-bold text-[1.5rem] sm:text-[2rem];
	}

	h2 {
		@apply text-[2rem];
	}

	* {
		font-family: "Roboto", "Helvetica Neue", sans-serif;
		box-sizing: border-box;
		@apply text-ourwhite font-bold;
	}

	html,
	body {
		background-color: #181818;
	}

	main {
		@apply mx-auto flex flex-col;
	}

	header {
		@apply w-full justify-between items-center px-4 flex flex-row py-2.5;
	}

	.tile {
		@apply select-none rounded-md h-[8.3vh] w-[8.3vh] max-w-[64px] text-[2rem] flex justify-center items-center max-h-16 uppercase font-bold;
	}

	.keyboard {
		@apply flex flex-col mt-3 px-1.5 gap-1.5 items-center w-full max-w-[484px];
	}

	.modal-bg {
		@apply absolute inset-0 z-40 flex justify-center items-end
		backdrop-blur-sm h-full w-screen;
	}

	.modal {
		@apply bg-neutral-800 w-[min(100vw,400px)]
		 flex max-w-full relative rounded-t-2xl px-6 flex-col
		  justify-center border-t-2 border-neutral-700 items-center max-h-full;
	}

	.keyboard-row {
		@apply flex w-full flex-row gap-1.5;
	}

	.key {
		@apply !flex-[1] text-[13.3333px] rounded-[4px] 
		select-none justify-center flex-grow 
		flex font-bold items-center uppercase 
		h-14 bg-neutral-500 text-lg active:bg-neutral-600
		transition-colors;
	}

	.alert {
		@apply bg-gray-50 text-sm z-50 absolute left-1/2 top-5 sm:top-16 rounded-md px-4 py-3 text-black;
	}

	.empty-tile {
		@apply tile border-4 justify-self-end border-neutral-800;
	}

	.yellow-tile {
		@apply tile bg-[#b59f3b];
	}

	.green-tile {
		@apply tile bg-green-700;
	}

	.small-tile {
		@apply w-10 h-10 flex rounded-md justify-center items-center leading-none text-2xl;
	}

	.small-green-tile {
		@apply small-tile bg-green-700;
	}

	.small-yellow-tile {
		@apply small-tile bg-[#b59f3b];
	}
	.small-unluck-tile {
		@apply small-tile bg-neutral-700;
	}

	.current-tile {
		@apply tile bg-black border-4 border-neutral-700;
	}

	.noluck-tile {
		@apply tile bg-neutral-700;
	}

	.board {
		height: calc((6 * min(8.3vh, 64px)) + 36px);
		/* max-height: calc((6 * 62px) + (5 * 6px)); */
		@apply flex mt-1 mx-auto justify-between
		sm:h-[calc((6*64px)+36px)]
		 flex-col items-center sm:max-h-min;
	}

	.btn {
		@apply bg-green-700 hover:bg-green-600 transition-colors my-3 mt-1 cursor-pointer justify-center items-center w-56 inline-flex h-14 rounded-full;
	}

	.btn[disabled] {
		@apply bg-neutral-700 cursor-default text-neutral-500;
	}

	.btn-share {
		@apply btn bg-[#fafafa] w-56 text-black;
	}

	.box-shadow {
		-webkit-box-shadow: inset -3px 3px 2px -1px rgba(255, 255, 255, 0.2),
			inset 3px -3px 2px 0px rgba(0, 0, 0, 0.56);
		box-shadow: inset -3px 3px 2px -1px rgba(255, 255, 255, 0.2),
			inset 2px -2px 2px 0px rgba(0, 0, 0, 0.56);
	}

	.sidebar {
		@apply z-50 px-3 select-none flex flex-col relative w-[320px] border-r border-neutral-800 bg-neutral-900 h-full max-h-full;
	}

	.kategoria {
		@apply mt-2 mb-1 text-neutral-700;
	}

	.onlang {
		@apply lang;
	}

	.slider-switcher {
		@apply bg-neutral-600 z-0 absolute w-16 rounded-sm h-8 active:bg-neutral-700;
	}

	.lang {
		@apply w-16 z-10 transition-colors h-8 flex justify-center items-center;
	}

	.offlang {
		@apply lang text-neutral-600;
	}

	.menu-item {
		@apply text-lg justify-center flex w-full rounded-lg py-2 px-4 items-center;
	}

	.menu-item-link {
		@apply menu-item transition-colors hover:bg-opacity-50 cursor-pointer hover:bg-neutral-800;
	}

	.menu-item-link:hover > .arrow {
		animation: arrowLeft 0.2s ease-out;
	}

	.form-input {
		@apply bg-opacity-0 w-64 font-normal text-base border-neutral-800 border-4 rounded-md bg-neutral-50 px-4 py-2;
	}

	.invalid-input,
	.invalid-input:-webkit-autofill,
	.invalid-input:-webkit-autofill:hover,
	.invalid-input:-webkit-autofill:focus {
		@apply !border-red-800;
	}

	::placeholder {
		color: red;
	}

	.menu-btn {
		@apply w-28 justify-center bg-neutral-700 cursor-pointer flex items-center h-8 hover:bg-neutral-600 transition-colors rounded-md;
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: red;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: red;
	}

	label {
		@apply text-sm text-left w-full ml-3 text-neutral-600 -mb-3;
	}

	label[for="saveUserLogIn"] {
		@apply flex text-base text-ourwhite items-center;
	}

	.cekboks {
		-webkit-appearance: none;
		appearance: none;
		@apply w-9 h-6 cursor-pointer;
	}

	.profile-card {
		@apply flex-wrap justify-center items-center transition-all shadow-xl cursor-pointer border-neutral-700 border-t-2 bg-neutral-800 pt-6 pb-6 mt-2 mb-6 rounded-xl mx-auto w-52 flex;
	}

	.profile-card-board {
		@apply grid gap-1 origin-center grid-cols-3 content-center bg-[#121212] p-1 rounded-lg ml-[24px] mr-[23px] mb-5;
	}
	.profile-card-text {
		@apply inline-flex items-start flex-col w-full;
	}
	.profile-card-text p {
		@apply text-center w-full mx-auto;
	}

	.user-icon-tile {
		@apply p-6 origin-center rounded-md;
	}

	.user-icon-tile[color="yellow"] {
		@apply bg-yellow;
	}

	.user-icon-tile[color="green"] {
		@apply bg-green-700;
	}

	.user-icon-tile[color="neutral"] {
		@apply bg-neutral-700;
	}

	.cekboks:after {
		content: "";
		@apply rounded-md bg-neutral-800 absolute h-6 w-6 mb-0.5 border-4 border-neutral-800;
	}

	.login-wrap {
		@apply flex flex-col select-none w-full justify-between items-center;
	}

	.form-input:-webkit-autofill,
	.form-input:-webkit-autofill:hover,
	.form-input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		border: 4px solid rgb(38 38 38);
		font-size: 1rem;
		-webkit-text-fill-color: white;
		-webkit-box-shadow: 0 0 0px 1000px rgb(18 18 18) inset;
		background-clip: content-box !important;
	}

	.cekboks:checked:after {
		@apply bg-green-700;
	}

	@media (max-height: 800px) {
		.board {
			height: calc((6 * 8.3vh) + 36px);
		}
	}

	@media (max-height: 600px) {
		.key {
			height: 8vh;
		}
	}
	@media (max-height: 663px) {
		header {
			@apply py-0;
		}
	}
}
